* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#form-login {
  box-sizing: border-box;
  position: absolute;
  left: 39.06%;
  right: 38.8%;
  top: 46.39%;
  bottom: 12.5%;
  background: #eaf1ef;
  border: 1px solid #b1c2be;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 320px;
  height: 285px;
}

#btn-login {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  align-items: center;
  text-align: center;
  line-height: 50%;

  width: 250px;
  height: 30px;
  border-radius: 10px;
  color: #f2fffc;
  background: #036b52;
  margin-left: 35px;
}

#btn-outline-green {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 50%;
  align-items: center;
  text-align: center;

  color: #036b52;
  background-color: white !important;
  box-sizing: border-box;

  border: 2px solid #036b52;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  margin-left: 35px;
  margin-top: 10px;
}

#main-login {
  display: flex;
}

#buttons {
  display: flex;
  flex-direction: column;
}

.input_form_login {
  width: 250px;
  height: 40px;
  margin: auto;
}

.label_form_login {
  margin-left: 43px;
  margin-top: 8px;
}

#spam_text {
  position: absolute;
  top: 92%;
  margin-left: 100px;
}
